<p style="color: green"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="columns">
      <div id="events">
        <% @events.each do |event| %>
          <%= render event %>
          <p>
            <%= link_to "Show this event", event %>
          </p>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</section>
