h1 {
    padding-left: 150px;
}

.emailError,
.countryError,
.zipcodeError,
.passwordError,
.passwordConfirmationError {
    font-size: 11px;
    color: red;
    font-weight: bold;
}

form {
    padding-left: 150px;
}

input:invalid {
    background-color: #fdd;
}

input:valid {
    background-color: lightgreen;
}