<h1>Editing projectform</h1>

<%= render "form", projectform: @projectform %>

<br>

<div>
  <%= link_to "Show this projectform", @projectform %> |
  <%= link_to "Back to projectforms", projectforms_path %>
</div>
