<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Thanks for booking.</h1>
    <p>
      We wish you a safe travel!<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    Passengers:
    <ul>
      <% @booking.passengers.each do |passenger| %>
        <li><%= passenger.name %></li>
      <% end %>
    </ul>
  </body>
</html>
