body {
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 2px;
    background-color: #2196F3;
    padding: 2.5px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 4px;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}