<p style="color: green"><%= notice %></p>

<h1 class="title">Posts</h1>

<%= link_to "New post", new_post_path, class: "subtitle" %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

