<p style="color: green"><%= notice %></p>

<h1 class="title">Posts | 
  <%= link_to "Create a new post", new_post_path, class: "button is-link" %>
</h1>

<hr>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

