<div id="<%= dom_id post %>">
    <article class="message">
      <div class="message-header">
        <p><%= link_to "Post #{post.id}", post %></p>
      </div>
      <div class="message-body">
            <%= post.body %>
      </div>
    </article>
</div>
