<div class="column is-10">

  <h1>Editing post</h1>

  <%= render "form", post: @post %>

  <br>

  <div>
    <button class="button is-info is-light">
      <%= link_to "Show this post", @post %>
    </button>
    <button class="button is-info is-light">
      <%= link_to "Back to posts", posts_path %>
    </button>
  </div>
</div>
