<section class="section">
  <div class="container">
      <div class="column is-10">
        <%= render "posts/profile" %>
      </div>
      <div class="column is-10">
        <%= render "posts/message" %>
      </div>
  </div>
</section>

