<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label :Add_your_comment %><br>
      <%= form.text_area :body, class: "textarea" %>
    </div>
  </div>

  <div class="control">
    <%= form.button :submit, class: "button is-link" %>
  </div>
<% end %>