#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color:blueviolet; */
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  justify-items: center;
}

.educationalListContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

input, label {
  display: block;
}