@font-face {
    font-family: 'MyFont';
    src: url('./SimpleHandmade.otf') format('opentype'),
         url('./SimpleHandmade.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

#content {
    font-family: 'MyFont', "PT Sans", Calibri, Tahoma, sans-serif;;
}

.background {
    background: url('background.jpg');
}