@font-face {
  font-family: 'MyFont';
  src: url('./SimpleHandmade.otf') format('opentype'),
        url('./SimpleHandmade.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url('./background.jpg');
  font-family: 'MyFont';
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  gap: 1rem;
  padding: 10px;
}

.about,
.contact,
.menu {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.about:hover,
.contact:hover,
.menu:hover {
  cursor: pointer;
}

.header,
.footer {
  flex: 0 0 50px;
  background: #34495e;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.content-body .content {
  flex: 3;
  overflow: auto;
  background-color: wheat;
}

.content-body .left,
.content-body .right {
  flex: 1;
  overflow: auto;
}

a {
  color: whitesmoke;
}

.selected {
  /* background: #1abc9c; */
  background: wheat;
  box-shadow: 0 1rem 0px -2px wheat;
}