table, th, td {
    border-style: solid;
    border-color: black;
    border-width: thin;
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
}

label {
    display: inline-block;
    min-width: 5rem;
}

.field {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

tr > button {
    margin-left: 1rem;
    margin-right: 1rem;
    /* border-radius: 5px; */
    /* border-width: 1px; */
}