table, th, td {
    border-style: solid;
    border-color: black;
    border-width: thin;
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
}

label {
    display: inline-block;
    min-width: 5rem;
}

.field {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

tr > button {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border-width: 1px;
}

body {
    font: 1em sans-serif;
    /* width: 200px; */
    padding: 1em;
    margin: 0 auto;
  }

  p * {
    display: block;
}

/* This is our style for the invalid fields */
input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.authorError, 
.titleError,
.pagesError {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}

.authorError.active, 
.titleError.active,
.pagesError.active {
    padding: 0.3em;
}