@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

@media (max-width: 770px) {
    
    .header {
        flex-direction: column;
        gap: 5rem;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeead;
    background-image: url("images/61769.jpg");
    background-size: cover;
    gap: 2rem;
    padding: 2rem;
}

.headerimage > img {
    min-width: 250px;
    max-width: 350px;
    width: 100%;
    height: auto;
}

.picturecopyright {
    font-size: 8px;
}

.card {
    border-style: solid;
    border-width: thin;
    max-width: 450px;
    padding: 1rem;
    min-width: 250px;
    background-color: white;
}

.card > p {
    font-size: small;
}

.container {
    flex: 2;
    /* background-color: skyblue; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

.content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project {
    text-align: center;
}

.projectbox {
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    margin: 1rem;
    height: 200px;
}

.footer {
    background-color: peachpuff;
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
    padding: 1rem;
}