@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    background-color: #ffeead;
}

.container {
    flex: 2;
    background-color: skyblue;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project {
    border-style: solid;
    margin: 1rem;
    height: 200px;
}

.footer {
    flex: 1;
    background-color: peachpuff;
    display: flex;
    gap: 1rem;
}

.footerleft {
    flex: 1;
}

.footerright {
    flex: 1;
}