<h1 class="title"> Friend Requests </h1>
<% if @friend_requests.any? %>
  <% @friend_requests.each do |request| %>
  <article class="message">
    <div class="message-body">
      <div class="columns">
        <div class="column is-four-fifths">
          <%= User.find(request.user_id).name %> would like to be your friend
        </div>
        <div class="column"><button class="button is-success">Accept</button></div>
        <div class="column"><button class="button is-danger">Decline</button></div>
      </div>
    </div>
  </article>
  <hr />
  <% end%>
<% else %>
    <article class="message">      
      <div class="message-body">
        You have no awaiting friend requests.
      </div>
    </article>
<% end %>